<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des matières</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id Patient</th>
        <th>Id Praticien</th>
        <th>Motif</th>
        <th>Date</th>
        <th>Confirmé</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rdv of list()">
        <td>{{rdv.idPatient}}</td>
        <td>{{rdv.idPraticien}}</td>
        <td>{{rdv.motif}}</td>
        <td>{{rdv.dateRdv}}</td>
        <td>{{rdv.confirmer}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="confirm(rdv.id)"><i class="fa fa-check-circle"></i></a>
            <a class="btn btn-danger" (click)="cancel(rdv.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
